@basecolor: #122faa;
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

.asideHeader, .asideFooter {
  align-self: stretch;
  background: @basecolor;
  .vertFlexMenu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style-type: none;
    width: 100%;
    max-width: 300px;
    margin: 0;
    padding: 40px;
    text-transform: uppercase;
    font-size: 25px;
    li {
      width: 100%;
      display: flex;
      background-color: lighten(@basecolor, 20%);
      a {
        margin: auto;
        color: darken(@basecolor, 10%);
      }
    }
    li:hover {
      color: darken(@basecolor, 20%);
      background-color: spin(@basecolor, -60deg*3);
    }
  }
}

.asideHeader {
  flex-basis: 200px;
  flex-grow: .3;

}

.asideFooter {
  flex-basis: 200px;
  flex-grow: .2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div.content {
  margin: 25px;
  flex-grow: .8;
  flex-basis: 368px;
  display: flex;
  flex-wrap: wrap;
  > div.course {
    flex-basis: 134px;
    height: 300px;
    border: 1px solid lighter(@basecolor, 15%);
    margin: 20px 20px 0 0;
    box-shadow: 1px 3px 5px #555;
    flex-grow: 1;
  }
}

a {
  text-decoration: none;
}