body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  min-height: 100vh;
  margin: 0;
}
.asideHeader,
.asideFooter {
  align-self: stretch;
  background: #122faa;
}
.asideHeader .vertFlexMenu,
.asideFooter .vertFlexMenu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style-type: none;
  width: 100%;
  max-width: 300px;
  margin: 0;
  padding: 40px;
  text-transform: uppercase;
  font-size: 25px;
}
.asideHeader .vertFlexMenu li,
.asideFooter .vertFlexMenu li {
  width: 100%;
  display: flex;
  background-color: #385aea;
}
.asideHeader .vertFlexMenu li a,
.asideFooter .vertFlexMenu li a {
  margin: auto;
  color: #0d227c;
}
.asideHeader .vertFlexMenu li:hover,
.asideFooter .vertFlexMenu li:hover {
  color: #08154e;
  background-color: #aa8d12;
}
.asideHeader {
  flex-basis: 200px;
  flex-grow: .3;
}
.asideFooter {
  flex-basis: 200px;
  flex-grow: .2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
div.content {
  margin: 25px;
  flex-grow: .8;
  flex-basis: 368px;
  display: flex;
  flex-wrap: wrap;
}
div.content > div.course {
  flex-basis: 134px;
  height: 300px;
  border: 1px solid lighter(#122faa, 15%);
  margin: 20px 20px 0 0;
  box-shadow: 1px 3px 5px #555;
  flex-grow: 1;
}
a {
  text-decoration: none;
}
